<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
<!--    <title>Your App</title>-->
<!--    <script  type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=tKW1tOeYY1md4GUdZTwUVvOZ1LASYUxq"></script>-->
    <script type="text/javascript">
      window._AMapSecurityConfig = {
        securityJsCode:'23f8574ddde7a5863bcf057870c279a8',
      }
    </script>
<!--    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=7119e9a6beacbb614c54abe5ac894f20"></script>-->
</head>
<body>
<div id="root"></div>
</body>
<style>
</style>
</html>
